@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
} */
body {
  font-family: "Oswald", sans-serif;
  font-family: "Montserrat", sans-serif;
}

/*$colorBase: #fff8f8;          (blanco)
$colorTipografia: #141414;      (negro)
$colorPrimario:#AD5ED6;      (violeta)
$colorSecundario: #D074FF;       (lila)
$colorTerciario: #ED93EC;      (rosa)
$colorCuaternario: #F8D5F8;    (rosa claro) */
/*_____ HEADER _____ */
.main-header {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 100%;
  font-family: "Oswald", sans-serif;
  background-color: #AD5ED6;
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: #ED93EC;
}

/*_____ NAV BAR _____ */
.nav-bar {
  background-color: #ED93EC;
  order: 1;
  box-shadow: 0px 1px 10px rgba(72, 16, 94, 0.534);
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.nav-bar__nav-item {
  text-align: center;
}
.nav-bar__nav-link {
  display: block;
  color: #141414;
  font-size: 18px;
  padding: 0.5em 2.5em;
  text-decoration: none;
}
.nav-bar__nav-link:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
    background-color: #ED93EC;
  }
  .nav-bar__nav-link {
    font-size: 18px;
  }
}

/*_____ SEARCH BAR _____ */
.search-bar {
  background-color: #AD5ED6;
  display: flex;
}
.search-bar__form-container {
  padding: 1.5em;
}
.search-bar__logo-container {
  background-color: #AD5ED6;
}
.search-bar__logo-container img {
  height: 70px;
  width: auto;
}
.search-bar__form-container {
  background-color: #AD5ED6;
  display: flex;
  flex-basis: 70%;
  justify-content: center;
}
.search-bar__form-label {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  background-color: #AD5ED6;
  color: #fff8f8;
}
.search-bar__form-search {
  background-color: #fff8f8;
  width: 35%;
  height: 30px;
  border: 0.5px solid rgb(87, 87, 87);
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 1em;
  margin-right: 0;
  padding: 5px;
  padding-left: 8px;
}
.search-bar__form-submit {
  background-color: #ED93EC;
  height: 30px;
  border: 0.5px solid rgb(87, 87, 87);
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  width: 70px;
  cursor: pointer;
}
.search-bar__form-submit img {
  height: 28px;
}
.search-bar__form-submit:hover {
  background-color: #D074FF;
  border: 1px solid #141414;
}
.search-bar__carrito-container {
  display: flex;
  justify-content: center;
  background-color: #AD5ED6;
  cursor: pointer;
  margin: 0%;
}
.search-bar__carrito-container img {
  width: 40px;
  height: 100%;
  margin: 0%;
}
.search-bar #search-bar__carrito-contador {
  width: 25px;
  height: 25px;
  margin: 8px;
  margin-left: 0;
  padding: 1px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  background-color: #e96fe7;
  color: #fff8f8;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .search-bar {
    padding: 0;
  }
  .search-bar__form-container {
    padding: 1em;
  }
  .search-bar__logo-container {
    margin: 0;
  }
  .search-bar__logo-container img {
    height: auto;
    width: 30vw;
  }
  .search-bar__form-container {
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    font-weight: 100;
  }
  .search-bar__form-label {
    display: none;
  }
  .search-bar__form-search {
    width: 25vw;
    height: 22px;
    margin: 0;
    margin-left: 5px;
  }
  .search-bar__form-submit {
    height: 22px;
    width: 40px;
  }
  .search-bar__form-submit img {
    height: 20px;
  }
  .search-bar__carrito-container {
    flex: 0 0 2.5em;
  }
  .search-bar__carrito-container img {
    width: 9vw;
    height: auto;
    padding: 0.1em;
    padding-left: 0.3em;
    margin-right: 0;
  }
  .search-bar #search-bar__carrito-contador {
    width: 15px;
    height: 15px;
    margin: 5px;
    margin-left: 0;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    background-color: #EC407A;
    color: #fff8f8;
    border-radius: 50%;
  }
}

/*_____ MENU TOGGLE _____ */
.menu-toggle {
  display: none;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
  order: -1;
}
.menu-toggle__label {
  display: block;
  height: 100%;
}
.menu-toggle__top-bread, .menu-toggle__meat, .menu-toggle__bottom-bread {
  display: block;
  background-color: #fff8f8;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  border-radius: 50px;
}
.menu-toggle__top-bread {
  top: 0.8em;
}
.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__bottom-bread {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    flex: 0 0 2.5em;
  }
}

.section-cards {
  background-color: white;
}
.section-cards__header {
  display: flex;
  text-transform: uppercase;
}
.section-cards__header img {
  height: 78vh;
  margin: 15px;
  margin-left: 5%;
  margin-bottom: 0;
}
.section-cards__header__div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
}
.section-cards__header__div h1 {
  font-size: 100px;
  color: #141414;
  font-family: "Oswald", "sans-serif";
  text-shadow: 3px 3px 3px rgba(161, 19, 255, 0.438);
  letter-spacing: 15px;
  font-weight: 400;
}
.section-cards__header__div h3 {
  font-size: 35px;
  font-weight: 400;
  color: #141414;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}
.section-cards__header__div button {
  font-size: 18px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  margin: 15px;
  cursor: pointer;
  background-color: #F8D5F8;
  text-transform: uppercase;
  border: 1px solid #F8D5F8;
  font-family: "Montserrat", "sans-serif";
}
.section-cards__header__div button:hover {
  border: 1px solid #ED93EC;
}
.section-cards__header__div button img {
  height: 22px;
  width: 22px;
  margin: 0px;
  vertical-align: middle;
}
.section-cards__p {
  padding: 10px;
  font-size: 30px;
  background-color: #F8D5F8;
  margin: 0;
}
@media (max-width: 768px) {
  .section-cards__header {
    display: flex;
    flex-direction: column;
  }
  .section-cards__header img {
    width: 100vw;
    height: auto;
    margin: 0;
  }
  .section-cards__header__div {
    margin-left: 0;
  }
  .section-cards__header__div h1 {
    font-size: 45px;
    letter-spacing: 12px;
  }
  .section-cards__header__div h3 {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .section-cards__header__div button {
    font-size: 12px;
    padding: 8px;
  }
  .section-cards__header__div button:hover {
    border: 1px solid #ED93EC;
  }
  .section-cards__header__div button img {
    height: 15px;
    width: 15px;
    align-items: center;
  }
  .section-cards__p {
    padding: 7px;
    font-size: 20px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  background-color: #fff8f8;
  padding: 2em;
}
@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}

.section-informacion {
  background-color: #fff8f8;
  display: flex;
  justify-content: center;
}
.section-informacion__div {
  border: 1px solid #ED93EC;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin: 30px;
}
.section-informacion__div img {
  height: 60px;
}
.section-informacion__div h4 {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section-informacion__div {
    border-radius: 5px;
    padding: 8px;
    width: 25%;
    margin: 10px;
  }
  .section-informacion__div img {
    height: 40px;
  }
  .section-informacion__div h4 {
    font-size: 12px;
  }
}

.card {
  outline: none;
  text-decoration: none;
  max-width: 250px;
  min-height: 400px;
  max-height: 470px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0px 1px 10px rgba(148, 80, 161, 0.315);
  transition: all 1000ms ease;
  background-color: white;
}
.card:hover, .card:focus {
  box-shadow: 5px 5px 20px rgba(97, 37, 116, 0.479);
  transform: translateY(-0.5%);
}
.card__button {
  font-family: "Montserrat", "sans-serif";
  background-color: #ED93EC;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 50px;
  width: 70%;
  border: none;
  padding: 3px;
  margin: 5px;
  margin-left: 15%;
}
.card__button:hover {
  font-weight: 700;
}
.card__image-container {
  height: 290px;
  overflow: hidden;
}
.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.2s;
}
.card__content {
  color: #141414;
  text-align: center;
}
.card__heading {
  font-size: 16px;
  text-transform: uppercase;
  margin: 3px;
}
.card__description {
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  text-align: start;
}
.card__precio {
  font-weight: 700;
  font-size: 18px;
  color: #EC407A;
}
@media (min-width: 1024px) {
  .card {
    min-width: 240px;
  }
}
@media (max-width: 768px) {
  .card {
    min-width: 80vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 35vh;
  }
  .card:hover, .card:focus {
    box-shadow: none;
    transform: none;
  }
  .card__button {
    font-size: 16px;
    width: 80%;
    margin-bottom: 7px;
    margin-left: 10%;
  }
  .card__button:hover {
    box-shadow: none;
  }
  .card__image-container {
    height: 30vh;
    overflow: hidden;
  }
  .card__heading {
    font-size: 15px;
  }
  .card__description {
    font-size: 14px;
  }
  .card__precio {
    font-size: 16px;
  }
}

.search-bar__logo-container {
  margin-left: auto;
  margin-right: auto;
}

.nosotros-section {
  /*----- NOSOTROS HEADER -----*/
  /*----- NOSOTROS MISIÓN -----*/
  /*----- NOSOTROS ENCOTRA TU ESTILO -----*/
  /*----- NOSOTROS CATEGORIAS -----*/
  /*----- NOSOTROS LOCALES -----*/
}
.nosotros-section__header {
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotros-section__header img {
  height: 70vh;
  margin: 0%;
  margin-top: 15px;
  margin-left: 8%;
}
.nosotros-section__header h1 {
  font-family: "Oswald", "sans-serif";
  font-size: 40px;
  color: #141414;
  background-color: #F8D5F8;
  letter-spacing: 5px;
  height: 30vh;
  width: 90vw;
  padding: 3%;
}
@media (max-width: 768px) {
  .nosotros-section__header {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F8D5F8;
  }
  .nosotros-section__header img {
    height: 40vh;
    margin: 0%;
    margin-top: 5px;
  }
  .nosotros-section__header h1 {
    font-size: 22px;
    text-align: center;
    height: 8vh;
    width: 100vw;
  }
}
.nosotros-section__mision {
  height: 40vh;
  background-color: white;
  display: flex;
  margin-top: 1%;
  margin-bottom: 3%;
}
.nosotros-section__mision-img img {
  height: 40vh;
  margin-right: 8%;
}
.nosotros-section__mision-texto {
  font-family: "Montserrat", "sans-serif";
  margin-left: 8%;
  margin-right: 5%;
  padding-top: 3%;
}
.nosotros-section__mision-texto h2 {
  color: #D074FF;
  font-size: 35px;
  padding-bottom: 10px;
}
.nosotros-section__mision-texto p {
  font-size: 18px;
  width: 50vw;
}
@media (max-width: 768px) {
  .nosotros-section__mision {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
  }
  .nosotros-section__mision img {
    display: none;
  }
  .nosotros-section__mision h2 {
    text-align: center;
    font-size: 20px;
  }
  .nosotros-section__mision p {
    font-size: 14px;
    width: 90vw;
  }
}
.nosotros-section__estilo {
  height: 50vh;
  background-color: #ED93EC;
  font-family: "Oswald", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.nosotros-section__estilo h2 {
  color: #AD5ED6;
  font-size: 90px;
  padding: 40px;
  position: absolute;
  color: #fff8f8;
  letter-spacing: 15px;
  text-shadow: 0 0 8px black;
}
.nosotros-section__estilo img {
  height: 45vh;
  margin: 10px;
}
.nosotros-section__estilo img:hover {
  height: 48vh;
  box-shadow: 0 1px 10px #AD5ED6;
  transition: height 1s;
}
@media (max-width: 768px) {
  .nosotros-section__estilo {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nosotros-section__estilo h2 {
    font-size: 40px;
    padding: 20px;
    letter-spacing: 5px;
  }
  .nosotros-section__estilo img {
    height: 20vh;
    margin: 5px;
  }
}
.nosotros-section__categorias {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotros-section__categorias div {
  width: 20vw;
  text-align: center;
  margin: 15px;
}
.nosotros-section__categorias div img {
  width: auto;
  height: 35vh;
}
.nosotros-section__categorias div h3 {
  font-size: 18px;
  padding: 10px;
  color: #EC407A;
}
@media (max-width: 768px) {
  .nosotros-section__categorias {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .nosotros-section__categorias div {
    width: 24vw;
    text-align: center;
    margin: 2px;
  }
  .nosotros-section__categorias div img {
    width: 18vw;
    height: auto;
  }
  .nosotros-section__categorias div h3 {
    font-size: 10px;
    padding: 2px;
    font-weight: 400;
  }
}
.nosotros-section__locales-titulo {
  background-color: #AD5ED6;
  text-align: center;
  margin-top: 3%;
  width: 73vw;
  margin-left: 13%;
}
.nosotros-section__locales-titulo h2 {
  font-size: 40px;
  color: #141414;
}
.nosotros-section__locales-mapa {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}
.nosotros-section__locales-informacion {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.nosotros-section__locales-informacion div {
  display: flex;
  flex-direction: column;
  width: 35vw;
  background-color: #F8D5F8;
  margin: 10px;
  padding: 10px;
  padding-left: 5%;
  border: 1px solid #ED93EC;
  border-radius: 5px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .nosotros-section__locales-titulo {
    margin-top: 5%;
    width: 100vw;
    margin-left: 0;
  }
  .nosotros-section__locales-titulo h2 {
    font-size: 25px;
  }
  .nosotros-section__locales-mapa {
    margin: 5%;
  }
  .nosotros-section__locales-informacion div {
    width: 90vw;
    margin: 5px;
    font-size: 12px;
  }
}

.main-contacto h1 {
  font-size: 45px;
  text-align: center;
  color: #141414;
  background-color: #fff8f8;
  font-family: "Oswald", "sans-serif";
  letter-spacing: 5px;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .main-contacto h1 {
    font-size: 30px;
    letter-spacing: 2px;
  }
}

.form-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}
.form-contacto__motivo, .form-contacto__info, .form-contacto__comentario {
  border: 2px solid #D074FF;
  box-shadow: 0px 2px 12px rgba(115, 38, 131, 0.562);
  border-radius: 15px;
  margin: 20px;
  width: 70vw;
}
.form-contacto h2 {
  font-size: 25px;
  text-transform: uppercase;
  background-color: #D074FF;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  padding-left: 5%;
}
.form-contacto label, .form-contacto input, .form-contacto legend {
  display: block;
  margin: 10px;
  margin-left: 8%;
  font-size: 20px;
  font-weight: 400;
}
.form-contacto label:not(#motivo-label)::after {
  content: " *";
  color: crimson;
}
.form-contacto__motivo label {
  display: inline;
}
.form-contacto__motivo select {
  margin: 20px;
}
.form-contacto__info input {
  border: 2px solid transparent;
  border-bottom: 2px solid gray;
  width: 55vw;
}
.form-contacto__info input:focus {
  border-bottom: 3px solid #ED93EC;
  outline: none;
}
.form-contacto__comentario textarea {
  margin: 10px;
  width: 60vw;
  height: 10vh;
}
.form-contacto button {
  background-color: #141414;
  color: #ED93EC;
  font-size: 25px;
  border-radius: 50px;
  padding: 8px;
  margin: 20px;
  text-transform: uppercase;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-family: "Montserrat", "sans-serif";
}
.form-contacto button:hover {
  background-color: #ED93EC;
  color: #141414;
}
@media (max-width: 768px) {
  .form-contacto {
    margin-left: 0;
    margin-right: 0;
  }
  .form-contacto__motivo, .form-contacto__info, .form-contacto__comentario {
    margin: 5px;
    width: 95vw;
  }
  .form-contacto h2 {
    text-align: center;
    font-size: 18px;
  }
  .form-contacto label, .form-contacto input, .form-contacto legend {
    font-size: 15px;
  }
  .form-contacto__motivo {
    text-align: center;
  }
  .form-contacto__motivo label {
    display: block;
    margin: 3px;
  }
  .form-contacto__info input {
    width: 75vw;
  }
  .form-contacto__info input:focus {
    border-bottom: 2px solid #ED93EC;
  }
  .form-contacto__comentario textarea {
    width: 85vw;
  }
  .form-contacto button {
    font-size: 18px;
    padding: 8px;
  }
}

.formulario__input-error {
  font-size: 15px;
  color: crimson;
  margin-left: 8%;
  display: none;
}
.formulario__input-error i {
  margin: 5px;
}
.formulario__input-error-activo {
  display: block;
}
.formulario__grupo-valido .formulario__input:focus {
  border-bottom: 3px solid #1bb81b;
}
.formulario__grupo-invalido .formulario__input:focus {
  border-bottom: 3px solid crimson;
}
.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  font-weight: 700;
  background: rgb(255, 85, 119);
  padding: 0 15px;
  border-radius: 10px;
  display: none;
}
.formulario__mensaje-activo {
  display: block;
}
.formulario__mensaje-exito {
  font-size: 18px;
  background-color: #4fca3e;
  height: 45px;
  line-height: 45px;
  font-weight: 700;
  padding: 0 15px;
  border-radius: 10px;
  display: none;
}
.formulario__mensaje-exito-activo {
  display: block;
}
@media (max-width: 768px) {
  .formulario__input-error {
    font-size: 10px;
  }
  .formulario__grupo-valido .formulario__input:focus {
    border-bottom: 2px solid #1bb81b;
  }
  .formulario__grupo-invalido .formulario__input:focus {
    border-bottom: 2px solid crimson;
  }
  .formulario__mensaje, .formulario__mensaje-exito {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.footer {
  background-color: #AD5ED6;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 30vh;
  font-family: "Oswald", sans-serif;
}
.footer__seguinos {
  padding: 15px;
}
.footer__seguinos h4 {
  font-size: 30px;
  text-transform: uppercase;
}
.footer__seguinos img {
  width: 40px;
  margin: 5px;
}
@media (max-width: 768px) {
  .footer {
    justify-content: flex-start;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer__seguinos h4 {
    font-size: 22px;
    padding: 5px;
  }
  .footer__seguinos img {
    width: 30px;
    margin: 2px;
  }
}
.footer__newsletter {
  height: 30vh;
  width: 70vw;
  justify-content: center;
  border-left: 5px solid #141414;
  padding: 10px;
  text-align: center;
}
.footer__newsletter h4 {
  font-size: 50px;
  letter-spacing: 20px;
}
.footer__newsletter p {
  margin: 10px;
}
.footer__newsletter-form input {
  width: 30vw;
  height: 25px;
  border-radius: 5px;
}
.footer__newsletter-form button {
  background-color: #141414;
  color: #fff8f8;
  text-transform: uppercase;
  border-radius: 5px;
  height: 25px;
  width: 15vw;
  margin: 10px;
}
@media (max-width: 768px) {
  .footer__newsletter {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100vw;
    justify-content: flex-start;
    border-left: none;
    border-top: 3px solid #141414;
  }
  .footer__newsletter h4 {
    font-size: 30px;
  }
  .footer__newsletter p {
    font-size: 16px;
  }
  .footer__newsletter-form input {
    width: 50vw;
  }
  .footer__newsletter-form button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px;
  }
}

.container-alta {
  /* LISTADO PRODUCTOS */
  /* DROP AREA */
  /* MEDIA QUERIES */
}
.container-alta h1 {
  font-size: 50px;
  text-align: center;
  color: #141414;
  letter-spacing: 5px;
  background-color: #fff8f8;
  font-family: "Oswald", "sans-serif";
  letter-spacing: 10px;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .container-alta h1 {
    height: 10vh;
    font-size: 30px;
  }
}
.container-alta h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #D074FF;
  background-color: #141414;
  padding: 10px;
  margin-bottom: 10px;
}
.container-alta__form-alta {
  margin-left: 15vw;
  margin-right: 15vw;
  border: 2px solid #D074FF;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 5%;
  width: 70vw;
  box-shadow: 0px 2px 12px rgba(115, 38, 131, 0.562);
}
.container-alta__form-alta h2 {
  background-color: #D074FF;
  color: #141414;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  padding-left: 5%;
}
.container-alta__form-alta input, .container-alta__form-alta label {
  margin: 5px;
  margin-left: 15%;
  font-size: 20px;
  font-weight: 400;
  width: 50vw;
}
.container-alta__form-alta label:not(#label-envio, #label-file-dialog)::after {
  content: " *";
  color: crimson;
}
.container-alta__form-alta input {
  border: 2px solid transparent;
  border-bottom: 1px solid gray;
}
.container-alta__form-alta input:focus {
  border-bottom: 3px solid #ED93EC;
  outline: none;
}
.container-alta__form-alta #envio, .container-alta__form-alta #label-envio {
  margin: 0;
  margin-left: 13%;
  margin-top: 5px;
  padding: 0;
  width: 100px;
}
.container-alta__form-alta #envio {
  margin-left: 0px;
}
.container-alta button {
  display: block;
  background-color: rgb(50, 190, 50);
  color: white;
  font-size: 22px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat", "sans-serif";
  margin: 5px;
  cursor: pointer;
}
.container-alta button:hover {
  color: #141414;
}
.container-alta button:disabled {
  background-color: rgba(49, 48, 48, 0.671);
  color: rgb(179, 179, 179);
}
.container-alta form button {
  margin-left: 40%;
  margin-bottom: 20px;
}
.container-alta form .mensaje-validacion {
  border: none;
  color: crimson;
  background-color: white;
  font-weight: 400;
  margin-left: 15%;
  padding: 5px;
  border-radius: 5px;
  display: none;
}
.container-alta table, .container-alta th, .container-alta td {
  border: 1px solid #141414;
  border-collapse: collapse;
}
.container-alta th {
  font-size: larger;
}
.container-alta td {
  padding: 5px;
}
.container-alta td button {
  width: auto;
  font-size: 12px;
}
.container-alta table {
  width: 98%;
  margin: 10px;
}
.container-alta #listado-productos {
  width: 100%;
}
.container-alta #drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
}
.container-alta .button {
  display: inline-block;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ccc;
  cursor: pointer;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  border-radius: 1px solid #ccc;
}
.container-alta .button:hover {
  background-color: rgba(49, 48, 48, 0.671);
}
.container-alta #foto {
  display: none;
}
.container-alta #progress-bar {
  width: 90%;
  margin-bottom: 10px;
}
.container-alta #gallery img {
  width: 30%;
  margin: auto;
  vertical-align: middle;
}
.container-alta #drop-area.highlight {
  border-color: #AD5ED6;
}
@media (max-width: 768px) {
  .container-alta {
    /* DROP AREA */
    /* LISTADO PRODUCTOS */
  }
  .container-alta h2 {
    font-size: 18px;
  }
  .container-alta__form-alta {
    margin: 2%;
    width: 95vw;
    border: none;
    border-radius: none;
    margin-bottom: 30px;
    box-shadow: none;
  }
  .container-alta label, .container-alta input {
    font-size: 16px;
    margin-left: 10px;
    width: 90vw;
  }
  .container-alta #envio, .container-alta #label-envio {
    margin: 0;
    margin-left: 2%;
    margin-top: 5px;
    padding: 0;
  }
  .container-alta form button {
    margin: 15px;
    margin-left: 30%; /*  */
    font-size: 18px;
  }
  .container-alta form .mensaje-validacion {
    font-weight: 400;
    margin-left: 10px;
    font-size: 10px;
  }
  .container-alta #drop-area {
    width: 97%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container-alta .button {
    width: 95%;
    margin: 10px;
    margin-bottom: 3px;
  }
  .container-alta #foto {
    display: none;
  }
  .container-alta #progress-bar {
    width: 95%;
    margin-left: 10px;
  }
  .container-alta #gallery img {
    width: 70%;
    vertical-align: middle;
  }
  .container-alta th {
    font-size: 10px;
    padding: 1px;
  }
  .container-alta td {
    padding: 0px;
    font-size: 9px;
    text-align: center;
  }
  .container-alta td button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 7px;
    padding: 0.5px;
    margin: 1px;
    margin-bottom: 3px;
  }
  .container-alta table {
    max-width: 95vw;
    margin: 0.5px;
    margin-bottom: 15px;
  }
}

.section-carrito {
  display: none;
  position: fixed;
  background-color: white;
  z-index: 1;
  overflow: scroll;
  top: 7%;
  left: 15%;
  right: 15%;
  bottom: 7%;
  box-shadow: 0.3em 0.3em 10em 0.3em rgb(26, 3, 63);
}
.section-carrito--visible {
  display: block;
}
.section-carrito td, .section-carrito th, .section-carrito table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
.section-carrito th {
  background-color: #D074FF;
}
.section-carrito table {
  width: 60vw;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
}
.section-carrito .btn {
  font-size: 18px;
  color: white;
  padding: 8px;
  border-radius: 50px;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  text-transform: uppercase;
  border: none;
  font-family: "Montserrat", "sans-serif";
}
.section-carrito .btn.btn__cerrarCarrito {
  margin-left: 95%;
  color: #141414;
  border-radius: 0%;
  font-size: 22px;
}
.section-carrito .btn.btn__cerrarCarrito:hover {
  color: crimson;
}
.section-carrito .btn.btn__borrarDelCarrito {
  color: crimson;
  margin: 0;
  font-weight: 700;
  width: 30px;
  vertical-align: middle;
}
.section-carrito .btn.btn__borrarDelCarrito:hover {
  border-radius: 50%;
  color: white;
  background-color: crimson;
}
.section-carrito .btn.btn-carrito {
  display: flex;
  justify-content: flex-end;
}
.section-carrito .btn.btn__vaciarCarrito {
  background-color: grey;
  padding-left: 20px;
  padding-right: 20px;
}
.section-carrito .btn.btn__vaciarCarrito:hover {
  background-color: crimson;
}
.section-carrito .btn.btn__enviarCarrito {
  background-color: #D074FF;
  padding-left: 20px;
  padding-right: 20px;
}
.section-carrito .btn.btn__enviarCarrito:hover {
  background-color: #AD5ED6;
  color: #141414;
}
.section-carrito .btn.btn__enviarCarrito img {
  width: 25px;
  height: auto;
  margin: 5px;
  vertical-align: middle;
}
.section-carrito .btn.btn__irAAgregarCarrito {
  margin-left: 30%;
  margin-top: 10px;
}
.section-carrito h2, .section-carrito h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  color: #141414;
  text-transform: uppercase;
  text-align: center;
}
.section-carrito h2 {
  font-size: 50px;
  margin-top: 3%;
  font-weight: 700;
}
.section-carrito h2 img {
  width: 150px;
  margin-left: 42%;
}
.section-carrito h3 {
  font-size: 25px;
  margin-top: 1%;
  padding-left: 20%;
  padding-right: 20%;
}
.section-carrito #carrito-enviado {
  color: #2ECC71;
}
@media (max-width: 768px) {
  .section-carrito {
    top: 7%;
    bottom: auto;
    left: 1%;
    right: 1%;
  }
  .section-carrito td, .section-carrito th, .section-carrito table {
    padding: 1px;
    font-size: 13px;
  }
  .section-carrito table {
    width: 95vw;
    margin-right: 2%;
    margin-left: 2%;
  }
  .section-carrito .btn {
    font-size: 12px;
  }
  .section-carrito .btn.btn__cerrarCarrito {
    margin-left: 90%;
    margin-right: 5px;
  }
  .section-carrito .btn.btn__borrarDelCarrito {
    font-size: 12px;
    padding: 1px;
  }
  .section-carrito .btn.btn__vaciarCarrito, .section-carrito .btn.btn__enviarCarrito {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section-carrito .btn.btn__vaciarCarrito {
    background-color: crimson;
  }
  .section-carrito .btn.btn__enviarCarrito {
    color: #141414;
  }
  .section-carrito .btn.btn__enviarCarrito img {
    width: 12px;
    height: auto;
    margin: 3px;
  }
  .section-carrito h2 {
    font-size: 30px;
    margin-top: 1%;
  }
  .section-carrito h2 img {
    width: 60px;
  }
  .section-carrito h3 {
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.payment-form {
  padding-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.payment-form.dark {
  background-color: #f6f6f6;
}

.payment-form .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}

.payment-form .block-heading {
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.payment-form .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  color: RGBA(0, 0, 0, 0.45);
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #009EE3;
}

.payment-form .form-payment {
  border-top: 2px solid #C6E9FA;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: #ffffff;
  padding: 0;
  max-width: 600px;
  margin: auto;
}

.payment-form .title {
  font-size: 1.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0.8em;
  font-weight: bold;
  padding-bottom: 8px;
}

.payment-form .products {
  background-color: #f7fbff;
  padding: 25px;
}

.payment-form .products .item {
  margin-bottom: 1em;
}

.payment-form .products .item-name {
  font-weight: 500;
  font-size: 0.9em;
}

.payment-form .products .item p {
  margin-bottom: 0.2em;
}

.payment-form .products .price {
  float: right;
  font-weight: 500;
  font-size: 0.9em;
}

.payment-form .products .total {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 19px;
  font-weight: bold;
  line-height: 1;
}

.payment-form .payment-details {
  padding: 25px 25px 15px;
  height: 100%;
}

.payment-form .payment-details label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #8C8C8C;
  text-transform: uppercase;
}

.payment-form button {
  margin-top: 0.6em;
  padding: 12px 0;
  font-weight: 500;
  background-color: #009EE3;
  margin-bottom: 10px;
}

.payment-form .mercadopago-button {
  width: 100%;
  padding: 8px 0;
}

.payment-form a, .payment-form a:not([href]) {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #009ee3;
  cursor: pointer;
}

.payment-form a:not([href]):hover {
  color: #3483FA;
  cursor: pointer;
}

.active {
  background-color: #e96fe7;
}/*# sourceMappingURL=main.css.map */