.section-cards {
    background-color: white;
 
    &__header{
        display: flex;
        text-transform: uppercase;
        
        & img {
            height: 65vh;
            margin: 15px;
            margin-left: 5%;
            margin-bottom: 0;
          
        }

        &__div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-left: 10%;

            & h1{

                font-size: 100px;
                color: $colorTipografia;
                font-family: 'Oswald', 'sans-serif';
                text-shadow: 3px 3px 3px rgba(161, 19, 255, 0.438);
                letter-spacing: 15px;
                font-weight: 400;
                
            }

            & h3{
                font-size: 35px;
                font-weight: 400;
                color: $colorTipografia;
                font-family: 'Montserrat', sans-serif;
                letter-spacing: 5px;
        
            }

        }

    } 

    &__div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $colorCuaternario;
        height: fit-content;
        & p {
            padding: 5px;
            font-size: 28px;
            margin: 0;
        }
    
        & img {
            padding: 0;
            height: 45px;
            margin: 0;
        }
    }
    @media (max-width: 768px) {
        
        &__header{
            display: flex;
            flex-direction: column;

            & img {
                width: 100vw;
                height: auto;
                margin: 0;
            }
    
            &__div {
                margin-left: 0;

                & h1{
                    font-size: 45px;
                    letter-spacing: 12px;
                }
        
                & h3{
                    font-size: 18px;
                    letter-spacing: 3px;
                }
            }
        }
    
        &__p {
            padding: 7px;
            font-size: 20px;
            
        }
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    background-color: $colorBase;
    padding: 2em;

    @media (min-width: 1200px) {
        & {
            gap: 2em
        }
    }
}

.section-informacion {
    background-color: $colorBase;
    display: flex;
    justify-content: center;
    
    &__div {
        border: 1px solid $colorTerciario;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        width: 300px;
        margin: 30px;

        & img {
           height: 60px;
        }

        & h4 {
            font-size: 20px;
            font-weight: 400;
        }
    }

    @media (max-width: 768px) {  
        &__div {
            border-radius: 5px;
            padding: 8px;
            width: 25%;
            margin: 10px;
    
            & img {
               height: 40px;
            }
    
            & h4 {
                font-size: 12px;
            }
        }
    }
}