.section-carrito {
    display: none;
    position: fixed;
    background-color: white;
    z-index: 1;
    overflow: scroll;
    top:7%;
    left: 15%;
    right: 15%;
    bottom:7%;
    box-shadow: .3em .3em 10em .3em rgb(26, 3, 63);

    &--visible {
        display: block;
    }

    td,th,table {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
    }

    th{
        background-color: $colorSecundario;
    }

    table {
        width: 60vw;
        margin-top: 2%;  
        margin-bottom: 2%;  
        margin-right: 5%;  
        margin-left: 5%;  
    }

    .btn {
        font-size: 18px;
        color: white;
        padding: 8px;
        border-radius: 50px;
        margin: 5px;
        cursor: pointer;
        background-color: white;
        text-transform: uppercase;
        border: none;
        font-family: 'Montserrat', 'sans-serif';


        &.btn__cerrarCarrito {
            margin-left: 95%;
            color: $colorTipografia;
            border-radius: 0%;
            font-size: 22px;

            &:hover {
                color: crimson;
            }
        }

        
        &.btn__borrarDelCarrito { 

            color: crimson;
            margin: 0;
            font-weight: 700;
            width: 30px;
            vertical-align: middle ;

            &:hover {
                border-radius: 50%;
                color: white;
                background-color: crimson;
            }
        }

        &.btn-carrito{
            display: flex;
            justify-content: flex-end;
            
        }

        &.btn__vaciarCarrito {
            background-color: grey;
            padding-left: 20px;
            padding-right: 20px;

            &:hover {
                background-color:crimson;

            }
        }

        &.btn__enviarCarrito{
            background-color: $colorSecundario;
            padding-left: 20px;
            padding-right: 20px;

            &:hover {
                background-color: $colorPrimario;
                color: $colorTipografia;

            }
            & img{
                width: 25px;
                height: auto;
                margin: 5px;
                vertical-align: middle;
            }

        }

        &.btn__irAAgregarCarrito {
            margin-left: 30%;
            margin-top: 10px; 
        }
      
    }

    h2, h3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        background-color: white;
        color: $colorTipografia;
        text-transform: uppercase;
        text-align: center;
    }

    h2 {
        font-size: 50px;
        margin-top: 3%;
        font-weight: 700;

        & img{
            width: 150px;
            margin-left: 42%;
        }
    }

    h3{
        font-size: 25px;
        margin-top: 1%;
        padding-left: 20%;
        padding-right: 20%;
    
    }

    #carrito-enviado {
        color: #2ECC71;
    }

    @media (max-width: 768px) {  
        
        top:7%;
        bottom:auto;
        left: 1%;
        right: 1%;
       
        td,th,table {
            padding: 1px;
            font-size: 13px;
        }

        table {
            width: 95vw;
            margin-right: 2%;  
            margin-left: 2%;  
        }

        .btn {
            font-size: 12px;

            &.btn__cerrarCarrito {
                margin-left: 90%;
                margin-right: 5px;
            }
    
            &.btn__borrarDelCarrito { 
                font-size: 12px;
                padding:1px;
             
            }

                
            &.btn__vaciarCarrito, &.btn__enviarCarrito{
                
                padding-left: 10px;
                padding-right: 10px;

            }

            &.btn__vaciarCarrito{
                background-color: crimson;
            }
            
            &.btn__enviarCarrito{

                color: $colorTipografia;
                & img{
                    width: 12px;
                    height: auto;
                    margin: 3px;
                
                }

            }
          
        }
        

        h2 {
            font-size: 30px;
            margin-top: 1%;

            & img {
                width: 60px;
            }
        }

        h3{
            font-size: 18px;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}