$colorBase: #fff8f8;
$colorTipografia: #141414;
$colorPrimario: #AD5ED6;
$colorSecundario:#D074FF;
$colorTerciario: #ED93EC;
$colorCuaternario: #F8D5F8;

/*$colorBase: #fff8f8;          (blanco)
$colorTipografia: #141414;      (negro)
$colorPrimario:#AD5ED6;      (violeta)
$colorSecundario: #D074FF;       (lila)
$colorTerciario: #ED93EC;      (rosa)
$colorCuaternario: #F8D5F8;    (rosa claro) */